node_modules
Frontend/node_modules/.bin/*
Frontend/node_modules/
Server/node_modules/*
.DS_Store
Frontend/f/
Frontend/n2/
.eslintcache
.vscode


Frontend/.eslintcache
.DS_Store
Frontend/.eslintcache

Server/config/.env
Frontend/.eslintcache
Frontend/.eslintcache
.env.development
